@import url('reset.css'); 
@import url('type.css');

body {
    overflow: hidden;
}
div#header {
    background: url('../img/img_02.jpg') repeat-x;
    background-color: #ffffff;
    margin: auto;
    height: 93px;
    width: 9000px;
    position: fixed;
    z-index: 1;
}

#content{
    padding: 140px 0 90px;
    width: 2652px;
    position:absolute;
}


.content-cell{
    width: 400px;
    height: 380px;

    padding: 10px;
    margin: 1px;

    float: left;
    
    position: relative;

    border-right-style: solid; 
    border-right-width: 1px;
    padding-left: 130px;
    padding-right: 130px;
    vertical-align: top;
}

/*
.logo-dimensions{
    width: 200px;
    height: 93px;
}
*/
.logo-container{
    position: fixed; 
    top: 0px; 
    left: 0px;
}
.logo-container a{
    text-decoration: none;
}

div#vline{

    position: fixed; 
    top: 40px; 
    left: 495px;
}
div#menu{

    position: fixed; 
    top: 60px; 
    left: 495px;
}
div#social{

    position: fixed; 
    top: 52px; 
    right: 10px;
}

.slide-nav{
    height:32px;
    width:70px;
    position:fixed;
    top:100px;
    cursor: pointer;
    z-index: 2;
}
.next-slide{
    right:75px;
    background: url('../img/img_06_2.png') no-repeat;
}

.prev-slide{
    left:75px;
    background: url('../img/img_06_2.png') no-repeat;
    display: none;
}


p#social{
    float: left;
    width: 400px;
}

p#action-bar a:before {
    content: '| ';
}

p#action-bar a[title="About"]:after {
    content: ' |';
}
p#action-bar-black a:before {
    content: '| ';
}
ul{
    padding-top: 10px;
}
p#action-bar-black a[title="Blog"]:after {
    content: ' |';
}
div#footer {
    border-top: 10px solid #ffffff;
    background: none repeat-x scroll center center #000000;
    bottom: 0;
    height: 25px;
    position: fixed;
    width: 100%;

}


.has-text{
    padding-top: 15px;
}
.no-padding{
    padding: 0;
}

.foo-nav div{
    width: 660px; 
    height: 10px; 
    border:1px solid red;
    display: inline;
}

.invis-anch{
    font-size: 1px;
    height: 1px;
}

.invis-anch div{
    width: 655px;
    height: 1px;
    border: 1px solid red;
}

.invis-anch,  .invis-anch div{
    margin-left: -130px;
}